{% extends "base.html" %}
{% block title %}<title>Intel - Panso</title>{% endblock %}
{% block description %}Intel products on Panso. This page is under construction.{% endblock %}
{% block keywords %}Panso, Panso.se, Intel, Intel Ark, Intel API{% endblock %}
{% block content %}
    <div class="container">
        <article>
            <header>
                <h1>Intel</h1>
            </header>
            <section>
                <p>Hello, world!</p>
            </section>
        </article>
    </div>
{% endblock %}
