{% extends "base.html" %}
{% block title %}<title>Webhallen - Panso</title>{% endblock %}
{% block description %}Webhallen{% endblock %}
{% block keywords %}Webhallen, Webhallen.se{% endblock %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'products:index' %}">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Webhallen</li>
        </ol>
    </nav>
    {% for product in page_obj %}
        {{ product.name }} - {{ product.price }}
        <br>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
