{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

    <head>
        {% load static %}
        <!-- Head start -->
        <meta charset="UTF-8">
        <meta name="description" content="{% block description %}Panso{% endblock %}">
        <meta name="keywords" content="{% block keywords %}Panso, Panso.se{% endblock %}">
        <meta name="author" content="Panso">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}<title>Panso</title>{% endblock %}
        <link rel="icon" href="{% static 'favicon.ico' %}" sizes="32x32">
        <link rel="icon" href="{% static 'icon.svg' %}" type="image/svg+xml">
        <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
        <link rel="manifest" href="{% static 'manifest.webmanifest' %}">
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <!-- Head end -->
    </head>

    <body class="d-flex flex-column vh-100">
        <!-- Body start -->
        {% include "navbar.html" %}
        <!-- Content -->
        <div class="container-xl mt-3 mb-3">
            {% block content %}<!-- default content -->{% endblock %}
        </div>
        <!-- Content end -->
        <!-- Footer -->
        {% include "footer.html" %}
        <!-- Footer end -->
        <script src="{% static 'bootstrap.min.js' %}"></script>
        <!-- Body end -->
    </body>

</html>
