{% extends "products/base.html" %}
{% block title %}<title>Index - Panso</title>{% endblock %}
{% block description %}Panso{% endblock %}
{% block keywords %}Panso, Panso.se{% endblock %}
{% block content %}
<h1>Index</h1>
<span class="text-body-secondary">This is the index page.</span>
<br>
<br>
{% lorem %} {% lorem %} {% lorem %} {% lorem %}
<br>
<br>
{% lorem %} {% lorem %} {% lorem %} {% lorem %}
<br>
<br>
{% lorem %} {% lorem %} {% lorem %} {% lorem %}
<br>
<br>
{% lorem %} {% lorem %} {% lorem %} {% lorem %}
{% endblock %}
